@font-face {
  font-family: 'DynaPuff';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/DynaPuff-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'DynaPuff';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/DynaPuff-Bold.ttf') format('truetype');
}