@import 'tailwindcss';


@font-face {
    font-family: 'DynaPuff';
    src: url('/assets/DynaPuff-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DynaPuff';
    src: url('/assets/DynaPuff-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    font-family: 'DynaPuff';
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}